server:
  port: 8766
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8761/eureka/
  instance:
    preferIpAddress: true
  
spring:
  application:
    name: psop-activiti
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://10.2.108.238:3306/psop-activiti?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=false
    username: root
    password: Fhzz@123456
    logSlowSql: true
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  activiti:
    database-schema-update: true
    check-process-definitions: true
    process-definition-location-prefix: classpath:/processes/
    history-level: full
logging:
  level:
    com.fhzz.psop.dao: debug